/*-----------------------------------------------*\
              THEME OPTIONS STYLING
\*-----------------------------------------------*/
//@import url('../../../wpgrade-core/vendor/redux3/assets/css/style.css');
@import "compass";

$content-bg: #fcfcfc;
$sidebar-bg: #f7f7f7;
$border-color: #dfdfdf;
$dark: #464646;
$light: #777777;
$lighter: #999999;
$accent: #07d3f8;

$content-width: 800px;
$sidebar-width: 250px;

$_u: 24px;
$_u2: $_u/2;
$_u4: $_u/4;
$_2u: $_u*2;
$_15u: $_u+$_u/2;

$normal: 14px;
$big: 14px;



/*-----------------------------------------------*\
            THEME SPECIFIC - LENS
\*-----------------------------------------------*/

